{% extends 'blog/base.html' %}

{% block main %}
	<div style="margin-top: 50px;" class="container">
		<div class="row">
				
			<div class="col-sm-8 blog-main">
				{% for post in posts %}
					<div class="blog-post">
						<h2 class="blog-post-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
						<p class="blog-post-meta">{{ post.published_date }} by <a href="#">{{ post.author }}</a></p>
						<p>
							{{ post.text|linebreaksbr }}
						</p>
					</div>
				{% endfor %}
			</div>

			<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
	          <div class="sidebar-module sidebar-module-inset">
	            <h4>About</h4>
	            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
	          </div>
	          <div class="sidebar-module">
	            <h4>Categories</h4>
	            <ol class="list-unstyled">
	            {% for cat in cats %}
					<li><a href="{{ cat.get_absolute_url }}">{{ cat.title }}</a></li>
	            {% endfor %}
	            </ol>
	          </div>
	          <div class="sidebar-module">
	            <h4>Elsewhere</h4>
	            <ol class="list-unstyled">
	              <li><a href="#">GitHub</a></li>
	              <li><a href="#">Twitter</a></li>
	              <li><a href="#">Facebook</a></li>
	            </ol>
	          </div>
	        </div><!-- /.blog-sidebar -->

		</div>
	</div>

	
	<!-- TEMP -->
	{% if paginator.num_pages > 1 %}
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4 my-pagination">
			<nav aria-label="Page navigation">
				<ul class="pagination">
					{% if page_obj.has_previous %}
					<li>
				    	<a href="{% url "blog:index" %}?page={{ page_obj.previous_page_number }}" aria-label="Previous">
				    		<span aria-hidden="true">&laquo;</span>
				      	</a>
				    </li>
				    {% else %}
					<li class="disabled">
				    	<a href="#" aria-label="Previous">
				    		<span aria-hidden="true">&laquo;</span>
				      	</a>
				    </li>
					{% endif %}

					{% for pn in paginator.page_range %}
						{% if page_obj.number != pn %}
						<li>
							<a href="{% url "blog:index" %}?page={{ pn }}">
								{{ pn }}
							</a>
						</li>
						{% else %}
						<li class="active">
							<a href="#">{{ pn }}</a>
						</li>
						{% endif %}
					{% endfor %}
					
					{% if page_obj.has_next %}
					<li>
						<a href="{% url "blog:index" %}?page={{ page_obj.next_page_number }}" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
					{% else %}
					<li class="disabled">
						<a href="#" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
					{% endif %}
					
				</ul>
			</nav>
		</div>
	</div>
	{% endif %}

{% endblock %}