{% extends 'blog/base.html' %}

{% block main %}
	{% for post in posts %}
		<h2><a href="{% url "blog:post" post.pk %}">{{ post.title }}</a></h2>
		<p>published: {{ post.published_date }}</p>
		<p>
			{{ post.text|linebreaksbr }}
		</p>
	{% endfor %}

	
	<!-- TEMP -->
	{% if paginator.num_pages > 1 %}
	<nav aria-label="Page navigation">
		<ul class="pagination">
			{% if page_obj.has_previous %}
			<li>
		    	<a href="{% url "blog:index" %}?page={{ page_obj.previous_page_number }}" aria-label="Previous">
		    		<span aria-hidden="true">&laquo;</span>
		      	</a>
		    </li>
		    {% else %}
			<li class="disabled">
		    	<a href="#" aria-label="Previous">
		    		<span aria-hidden="true">&laquo;</span>
		      	</a>
		    </li>
			{% endif %}

			{% for pn in paginator.page_range %}
				{% if page_obj.number != pn %}
				<li>
					<a href="{% url "blog:index" %}?page={{ pn }}">
						{{ pn }}
					</a>
				</li>
				{% else %}
				<li class="active">
					<a href="#">{{ pn }}</a>
				</li>
				{% endif %}
			{% endfor %}
			
			{% if page_obj.has_next %}
			<li>
				<a href="{% url "blog:index" %}?page={{ page_obj.next_page_number }}" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
				</a>
			</li>
			{% else %}
			<li class="disabled">
				<a href="#" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
				</a>
			</li>
			{% endif %}
			
		</ul>
	</nav>
	{% endif %}

{% endblock %}