{% extends 'blog/base.html' %}

{% block main %}
	<h1>This is the blog app index!</h1>
	{% for post in posts %}
		<h2><a href="#">{{ post.title }}</a></h2>
		<p>published: {{ post.published_date }}</p>
		<p>
			{{ post.text|linebreaksbr }}
		</p>
	{% endfor %}

	
	<!-- TEMP -->
	{% if paginator.num_pages > 1 %}
		<div id="pagination">
			{% if page_obj.has_previous %}
				<div id="previous-page">
					<a href="{% url "blog:index" %}?page={{ page_obj.previous_page_number }}">&lt;</a>
				</div>
			{% endif %}
			{% if page_obj.has_next %}
				<div id="next-page">
					<a href="{% url "blog:index" %}?page={{ page_obj.next_page_number }}">&gt;</a>
				</div>
			{% endif%}
			<div id="num-pages">
				{% for pn in paginator.page_range %}
					{% if not forloop.first %}
						&nbsp;&nbsp;|&nbsp;&nbsp;
					{% endif %}
					{% if page_obj.number != pn %}
						<a href="{% url "blog:index" %}?page={{ pn }}">
					{% endif %}
					{{ pn }}
					{% if page_obj.number != pn %}
						</a>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	{% endif %}

{% endblock %}